{{ define "main" }}
  <h1 class="sm:mx-16 mx-2 md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="mx-2 sm:mx-16 md:mx-24 mt-16 md:mt-28"> 
    {{ range $year, $data := .Site.Data.exhibitions }}
      <h2>{{ $year }}</h2>
    
      {{ if $data.cover_images }}
        <div class="cover-images">
          {{ range $data.cover_images }}
            <img src="{{ . }}" alt="Cover image for {{ $year }}">
          {{ end }}
        </div>
      {{ end }}

      <ul>
        {{ range $data.exhibitions }}
          <li>
            <strong>{{ .name }}</strong><br>
            {{ .location }}<br>
            {{ .date }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}




