{{ define "main" }}
  <h1 class="sm:mx-16 mx-2 md:mx-24 text-3xl font-medium">{{ .Title }}</h1>
  <section class="mt-16 md:mt-28">
    
  <!-- Iterate over each year's data -->
  {{ $data := sort .Site.Data.exhibitions ".year" "desc" }}
  {{ range $data }} 
    <div class="flow exhibition-container py-16 md:p-24">
      <div class="exhibition-info mx-2">
        
        <h2 class="text-3xl font-medium mb-8">{{ .year }}</h2> <!-- Display the year -->
        
        <!-- Iterate over each exhibition and display the name and location -->
        <div class="exhibitions-list flow">
          {{ with .exhibitions }}
            {{ range . }}
              <div class="exhibition flex">
                <div class="text-base sm:text-xl md:text-2xl font-light" id="contact-links">
                  <a href={{ .link }} target="_blank">{{ .name }}</a>
                </div>
                <p class="text-base sm:text-xl md:text-2xl font-extralight ml-1.5"> - {{ .location }}</p>
              </div>
            {{ end }}
          {{- end -}}
        </div>
      </div>

      <!-- Display cover images for the year -->
      <div class="cover-images mx-2 mt-12 lg:mt-0 flex flex-col md:flex md:flex-row justify-between">
        {{ with .cover_image }}
          <img src="{{ . }}" class="object-contain object-center max-h-[450px] first-exhibition-img w-full lg:mb-0 self-center" alt="Cover image for exhibitions">
        {{ end }}
      </div> 
    </div>
  {{- end -}}
  </section>
{{ end }}




