.page-link {
  text-decoration: underline;
}

.page-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-dark);
}

.nav-link {
  transition: transform 0.25s ease-out;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-button);
}

.svg-hover {
  transition: .2s;
}

.svg-hover:hover svg {
  fill: var(--color-button);
}
